################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/OnlineShop/FileContentIndex/49cb9bd1-6abf-44d8-afc6-a260697178b4.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/5ce3cf8d-4f56-4a2b-b42e-8633df1e9488.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/6c36d010-9a9b-4eb6-9006-7df46a889c34.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/9106c65c-e85d-4406-a73d-54a303b0316c.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/c4b86450-b5f3-4c6f-9f74-e0b15891ef5b.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/48ecec09-a6fd-485d-8d61-b3c75e77136b.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/8198d449-4959-4f08-b811-1f4a70fa4ecb.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/a0f0abde-8116-486f-b117-2ca131b34566.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/ceabd23a-c525-44d2-a530-f7d76bd7726d.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/fd9fb7c7-ce0c-444f-ac47-b5517c17f70c.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/214e280e-ac41-4dcc-96e3-594e77662fe3.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/36e2b548-cdc7-4b8c-b1c2-346c67ae3084.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/d0d3b6e3-7e6b-4870-8fb1-9a41d5c00ccb.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/e2993d37-d065-41b3-9b0d-a5a73682332e.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/f86a165a-883f-4e9f-9b63-85f6074b9220.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/3444faf3-a18b-46f0-8bf2-abd23213b861.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/44cb5a5c-0a18-4e7b-88e5-6b51f2e69632.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/5345b775-e069-41a1-b7e0-75f1b0880b69.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/85b6e0f1-48aa-40ea-8f5a-752b0d06b8f4.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/b8d0921f-bb9b-49cf-8f91-8f5b2ae2e7d1.vsidx
